@(userForm: Form[User])(implicit request: MessagesRequestHeader)

<h1>user form</h1>

  @request.flash.get("success").getOrElse("")

  @helper.form(action = routes.UserController.userPost()) {
    @helper.CSRF.formField
    @helper.inputText(userForm("LastName"))
    @helper.inputText(userForm("FirstName"))
    @helper.inputText(userForm("E-mail"))
    @helper.inputText(userForm("Password"))
    @helper.inputText(userForm("Tel"))
    @helper.inputText(userForm("Adress"))
    <input type="submit" value="submit"/>
  }