@(recieverForm: Form[Reciever])(implicit request: MessagesRequestHeader)

<h1>reciever form</h1>


  @if(recieverForm.hasGlobalErrors) {
    <ul>
    @for(error <- recieverForm.globalErrors) {
      <li>@error.format</li>
    }
    </ul>
  }

  @request.flash.get("success").getOrElse("")

  @helper.form(action = routes.ReceiverController.receiverPost()) {
    @helper.CSRF.formField
    @helper.inputText(recieverForm("id"))
    @helper.inputText(recieverForm("lastName"))
    @helper.inputText(recieverForm("firstName"))
    @helper.inputText(recieverForm("tel"))

    <input type="submit" value="submit"/>
  }
